.container{
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  margin: auto;
  width: 1200px;
  background-color: #2196F3;
  border-radius: 20px;
  padding: 50px;
  box-sizing: border-box;
  list-style-type: none;
}